.section--services-textSection__textGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 1070px;
    margin-bottom: 128px;
  }
  
  .section--services-textSection__textGroup-title {
    font-size: 40px;
    font-weight: 500;
  }
  
  .section--services-textSection__textGroup-subtitle {
    font-size: 30px;
  }
  
  .section--services-textSection__textGroup-text {
    font-size: 20px;
    color: #666666;
  }
  
  @media screen and (max-width: 991px) {
    .section--services-textSection__textGroup-title {
      font-size: 30px;
    }
  
    .section--services-textSection__textGroup-subtitle {
      font-size: 18px;
    }
  
    .section--services-textSection__textGroup-text {
      font-size: 16px;
    }
  }